.explore-wrapper {
  margin: 100px 0px;
}
.explore-wrapper h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.explore-container{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 60px 0px;
}
.explore-sidebar{
    width: 20%;
    margin-right: 30px;
}
.explore-sidebar form input {
    background-color: #f0f0f0;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
}
.explore-category-view{
    width: 80%;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.category-view-container{
    width: calc(50% - 20px);
    background-color: #d9d9d9;
    border-radius: 10px;
}
.category-view-box{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    cursor: pointer;
}
.category-view-container:hover .category-view-box{
    opacity: 1;
    background-color: #bebebe;
}
.category-title{
    font-size: 34px;
    text-align: center;
    color: var(--white);
    margin-bottom: 20px;
}
.category-view-box button{
    background-color: var(--secondary-color-blue);
    color: var(--black);
    font-weight: 400;
    padding: 12px 40px;
    cursor: pointer;
}