@font-face{
    font-family: PlayfairDisplay-Regular;
    src: url("../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face{
    font-family: OpenSans-Regular;
    src: url("../fonts/OpenSans-Regular.ttf");
}