.testimonial-wrapper {
  margin: 100px 0px;
}
.testimonial-wrapper h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}
.testimonial-description {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
}
.testimonial-slider {
  margin: 60px 0px;
}
.testimonial-content {
  display: flex;
}
.testimonial-profile {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #d9d9d9;
  position: relative;
}
.testimonial-profile-details {
  margin: 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-review {
  font-size: 24px;
}
.testimonial-name {
  font-weight: 600;
}
.testimonial-slider .slick-arrow.slick-prev {
  top: 40%;
  left: 100%;
  transform: translateX(-100%);
  z-index: 11111;
}
.testimonial-slider .slick-arrow.slick-next {
  top: 60%;
  right: 0%;
}
.testimonial-see-all{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.testimonial-see-all img {
    width: 16px;
    height: 14px;
    margin-left: 8px;
}
.testimonial-see-all a {
    font-weight: 600;
}